/* Style Sheet for Ian Darwin web site.
 * This is the web: go ahead and borrow this page, but change it for
 * your own web, and pass it on with the same terms of re-use.
 * $Id$
 */

/* Attributes named after an HTML element apply to all occurrences of type.
 * Attributes named like tr.foo only appy to tr's with class=foo.
 * Attributes named *.home_* are only used on the home page.
 */

/* Page attributes */
body	{
	background-color: #ccc; color: #000;
}
body.home_page {
	background-image: url("images/index.png");
	background-repeat: no-repeat;
	background-color: White;
}

/* Paragraph formats: use generic, non-vendor specific names (no Arial) */
h1	{ color: blue; font-family: Helvetica, sans-serif; }
h2	{ color: blue; font-family: Helvetica, sans-serif; }
h3	{ color: blue; font-family: Helvetica, sans-serif; }
h4	{ color: blue; font-family: Helvetica, sans-serif; }
h5	{ color: blue; font-family: Helvetica, sans-serif; }
h6	{ color: blue; font-family: Helvetica, sans-serif; }

table.home_page {
	height: 670px;
	width: 100%;
	margin-left: 40px;
	margin-right: auto;
}
table.MainTable {
	background-color: #fff;
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	border: 0;
}

tr.home_ephemera {
	height: 50px;
	text-align: center;
	font-size: 0.8em;
}

th { background-color: #eee; font-family: Helvetica, sans-serif; }

td { font-family: sans-serif,Helvetica; font-size: 1.0em; }

td.home_category {
	color: White;
	height: 145px;
	font-size: 2.0em;
	text-align: center;
}
td.home_topics {
	color: #444444;
	margin-left: 35px;
	font-size: 0.9em;
}
td.TableNav {
	background-color: #eee;
	width: 20%;
	vertical-align: top;
	border: 0;
}
td.MainColumn {
	width: 80%;
	vertical-align: top;
	border: 0;
}

p, li { font-family: sans-serif,Helvetica; font-size: 1.0em; }

a:hover {
        background-color: #dbd4a6;
}

/* Attributes named with a "#" can apply to any element but only if class= used,
 * e.g., <p class="nav">Link: ...</p>
 */

/* Heading colors */
#TextAbout   { color: #0000FF;	 /* blue */
	font-family: Helvetica, sans-serif
}

/* Link colors */
#LinkLocal   { color: #00FF00 } /* green */
#LinkRemote  { color: #ff0000 } /* red  */

#Nav	{ font-family: Helvetica, sans-serif; font-size: 0.6em }

/* Pseudo-headings */
#ph1	{ color: blue; font-family: Helvetica, sans-serif; font-weight: bold }

/* List Item styles for use in lists of resources... */
li.booklink {
list-style-image: url('/images/book.gif')
}
li.fosslink {
list-style-image: url('/images/foss.gif')
}
li.weblink {
list-style-image: url('/images/www.png')
}
